In [2]:
!pip install tensorflow.gpu

Collecting tensorflow.gpu
  Downloading tensorflow-gpu-2.12.0.tar.gz (2.6 kB)
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [3]:
import tensorflow as tf

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# Splitting the dependent and independent features

X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [9]:
# Feature Engineering
#Create dummy variables

geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [10]:
X=pd.concat([X,geography,gender],axis=1)
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,2,1,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,False,False,False
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,2,False,True,False
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,False,False,False
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,False,False,False
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,2,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,1,0,False,False,True
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,1,0,False,False,True
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,False,False,False
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,True,False,True
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,False,False,False

In [11]:
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Age              10000 non-null  int64
 2   Tenure           10000 non-null  int64
 3   Balance          10000 non-null  float64
 4   NumOfProducts    10000 non-null  int64
 5   HasCrCard        10000 non-null  int64
 6   IsActiveMember   10000 non-null  int64
 7   EstimatedSalary  10000 non-null  float64
 8   2                10000 non-null  int64
 9   1                10000 non-null  int64
 10  Germany          10000 non-null  bool
 11  Spain            10000 non-null  bool
 12  Male             10000 non-null  bool
dtypes: bool(3), float64(2), int64(8)
memory usage: 810.7 KB

In [13]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [15]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

TypeError: Feature names are only supported if all input features have string names, but your input has ['int', 'str'] as feature name / column name types. If you want feature names to be stored and validated, you must convert them all to strings, by using X.columns = X.columns.astype(str) for example. Otherwise you can remove feature / column names from your input data, or convert them all to a non-string data type.